<h3>Important Emergency Numbers</h3>
<p>Police: 911</p>
<p>DC City Service: 311</p>
<p>Child Abuse Hotline: (202) 671-7233</p>
<p>Corruption Hotline: (800) 298-4006</p>
<p>Hate Crimes Hotline: (202) 727-0500</p>
<p>Command Information Center: (202) 727-9099</p>
<p>Anonymously TEXT to MPD: 50411</p>
